<<<<<<< HEAD
<% @articles.each do |article| %>
<h3><%= article.id %>. <%= article.title %></h3>
<%= article.content %></br>
<% end %>
=======
<ul>
<% @articles.each do |article| %>
<li><%= article.title%></li>
<li><%= article.content%></li>

<% end %>

</ul>
>>>>>>> 2e8ac4cc0906e3806e1591cb4fb2d38bf6a1751b
